body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
dd,
dt,
li,
input,
form,
button {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}
a:hover{text-decoration: none;}
.fl {
	float: left;
}

.fr {
	float: right;
}

img {
	border: 0;
}

.clearfix:after {
	content: "";
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	visibility: hidden;
	clear: both;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
	display: block;
}